name: push.yml

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build-and-test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5
        - name: Configure CMake
          run: cmake -B ${{github.workspace}}/build/debug -DCMAKE_BUILD_TYPE=Debug
        - name: Build
          run: cmake --build ${{github.workspace}}/build/debug --config Debug
#        - name: Test
#          run: ./drawculatest
#          working-directory: ${{github.workspace}}/build/debug

  build-docker-image:
    needs: [ build-and-test ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
      - name: Read version from file
        run: echo "VERSION=$(grep VERSION version.h | sed 's/.*"\(.*\)".*/\1/')" >> $GITHUB_ENV
        working-directory: ${{github.workspace}}/include
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/drawcula:${{ env.VERSION }} , ${{ secrets.DOCKER_USERNAME }}/drawcula:latest
          build-args: |
            LICHESS_BOT_TOKEN=${{ secrets.LICHESS_BOT_TOKEN }}

  deploy-docker-image:
    needs: [ build-docker-image ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v5
#      - name: Install SSH Key
#        uses: webfactory/ssh-agent@v0.5.4
#        with:
#          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Deploy Docker image to EC2
        env:
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$PRIVATE_KEY" > github-ec2.pem && chmod 600 github-ec2.pem