name: push.yml

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5
        - name: Configure CMake
          run: cmake -B ${{github.workspace}}/build/debug -DCMAKE_BUILD_TYPE=Debug
        - name: Build
          run: cmake --build ${{github.workspace}}/build/debug --config Debug
        - name: Test
          run: ${{github.workspace}}/build/debug/drawculatest

  build-docker-image:
    needs: [ build-and-test ]
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/drawcula:latest
          build-args: |
            LICHESS_BOT_TOKEN=${{ secrets.LICHESS_BOT_TOKEN }}
